<div class="container">
    <img src="assets/images/logo.png" alt="" *ngIf="notFinished">
    <span *ngIf="notFinished" class="title">{{ title }}</span>
    <app-card-question *ngIf="notFinished" [questionSelected]="[questionSelected]"></app-card-question>
    <div class="options" *ngIf="notFinished">
        <ul>
            <li *ngFor="let op of options" (click)="playerChoose(op.alias)">
                <app-card-option [option]="op.name"></app-card-option>
            </li>
        </ul>
    </div>
    <div class="resultado" *ngIf=finished>
        <app-resposta [resultado]="answerSelected"></app-resposta>
    </div>
</div>