.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.container > img {
    width: 300px;
    margin-top: 30px;
}

.container > .title {
    margin: 20px 0;
    color: white;
    font-weight: bold;
}

.container > app-card-question {
    margin: 50px 0;
}

.container > .options > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.container > .options > ul > li {
    margin: 5px 5px;
}

.container > .resultado {
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}