.op-container {
    border: 2px solid rgb(41, 151, 253);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    transition: all .5s;
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
}

.op-container:hover {
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.753);
    color: white;
}

.op-container:active {
    position: relative;
    top: 1px;
}

.op-container > span {
    text-align: center;
}